@charset "UTF-8";

:root {
    --main-color:rgb(15, 15, 15);
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

header{
    background-color: var(--main-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px;
}

header > a{
    margin: 10px 0;
    font-size: 1.4em;
    color: white;
}

.menu{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.menu li{
    font-size: 1.2em;
    margin-left: 15px;
}

.menu a{
    color: white;
    display: block;
    padding: 10px;
}

img{
    display: block;
    width: 100%;
}

section{
    display: flex;
    max-width: 1000px;
    flex-flow: row wrap;
}
section div{
    margin: 10px;
    flex: 1 1 200px;
}