<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Apresentação de cursos</title>
</head>
<body>
    <div class="boxMain">
        <h1>Conheça os cursos de tecnologia abaixo</h1>

        <a href="./javascript.html" rel="next" target="_self">
            <picture>
                <img src="../imagens/thumb-js.png" alt="Curso javaScript">
            </picture>
        </a>

        <a href="./htmlecss.html" rel="next" target="_self">
            <picture>
                <img src="../imagens/thumb-html.png" alt="Curso de HTML5 e CSS3">
            </picture>
        </a>
        <br>

        <a href="./python.html" rel="next" target="_self">
            <picture>
                <img src="../imagens/thumb-python.png" alt="Curso de Python">
            </picture>
        </a>

        <a href="./hardware.html" rel="next" target="_self">
            <picture>
                <img src="../imagens/thumb-hardware.png" alt="Curso de Hardware">
            </picture>
        </a>
    </div>
</body>
</html>