
.box{
    padding: 15px;
    background-color: hsl(0, 39%, 48%);
    border-radius: 15px;
    /*border: 2px solid hsl(0, 60%, 46%);*/
    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;
    text-align: justify;
    color: hsl(147, 100%, 42%);
}

.box h1{
    position: relative;
    width: 400px;
    left: 30%;
    text-align: center;
    /*background-color: rgba(252, 170, 19, 0.63);*/
}
.boxDentro{
    position: relative;
    text-align: justify;
    width:300px;
    top: -100px;
}

.segundoP{
    position: relative;
    left: 340px;
    text-align: justify;
    width:800px;
}