body{
    background-color: rgba(247, 195, 195, 0.705);
}

h1{
    color: rgb(92, 16, 12);
}

h2{
    color: rgb(232, 40, 30);
}

p{
    font:20px Arial,helvetica, sans-serif;
    text-align: justify;
    text-indent: 2em;
}

h1#tituloPrincipal{
    color: yellow;
    text-align: center;
    background-color: rgb(194, 34, 25);
    border-radius: 8px;
    margin: auto;
}

.titulosSecundarios{
    color: rgb(156, 27, 20);
}
.destaque{
    text-decoration: underline;
    color: rgb(42, 29, 100);
    font-weight: bold;
}