@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@700&display=swap');

body{
    background-image:linear-gradient( to right, #f0e36c, rgb(184, 173, 59));
}

h1{
    font-family: "libre baskerville",serif;
    font-size: 32px;
    color: rgb(21, 8, 77);
    text-align: center;
    text-shadow: 3px 3px 2px rgba(24, 5, 77, 0.185);
}

main{
    position: relative;
    top: 20px;
    background-color: rgb(174, 161, 245);
    border: 3px solid rgb(3, 1, 95);
    width: 400px;
    height: 250px;
    left: 450px;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    

    font: 40px "Arial black", sans-serif;
}

button{
    position: relative;
    top: -30px;
    cursor: pointer;
    border: none;
    border-radius: 10px;
    font: 0.5em Arial;
    padding: 10px;
    width: 180px;
    background-color: rgb(96, 70, 243);
    transition: 1s;
}
button:hover{
    width: 200px; 
    height: 50px;
    font-size: 0.6em;
}

#box2{
    position: relative;
    background-color: #fff;
    width: 300px;
    margin-right: none;
    top: 80px;
}